// grid

$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1600px;

// others

$sec: 0.15s;
$z-underground: 1;
$z-ground: 0;
$z-hills: 10;
$z-clouds: 20;
$z-sky: 30;
$z-moon: 40;

// colors

$black-light: #131313;
$green: green;
$red: red;
