.Container {
  max-width: 100%;
  overflow: auto;

  .Heading {
    margin-bottom: 10px;
  }

  .SubHeading {
    display: flex;
  }

  .Table {
    border-spacing: 0;
  }

  .Tr {
    &:nth-child(2n) {
      background-color: $black-light;
    }
  }

  .Td {
    border: none;
    border-bottom: 1px solid transparent;
    text-align: center;
    padding: 5px 11px;

    &--wide {
      width: 80px;
      min-width: 80px;

      @include bp(sm) {
        width: 100px;
        min-width: 100px;
      }
    }

    &--left {
      text-align: left;
    }

    &--first {
      border-bottom: 1px solid gold;
    }

    &--second {
      border-bottom: 1px solid silver;
    }

    &--third {
      border-bottom: 1px solid brown;
    }

    &:nth-child(n + 9) {
      display: none;
      @include bp(sm) {
        display: table-cell;
      }
    }
  }

  .Th {
    font-weight: 600;
  }

  .Legend {
    padding-top: 15px;
    margin-bottom: 15px;
  }

  .Text {
    margin-bottom: 7px;
  }

  .Strong {
    color: white;
  }

  .White {
    color: white;
  }

  .SortButton {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;

    &--active {
      background-color: white;
      color: black;
    }
  }
}
